@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

body {
  margin: auto;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  color: #333;
}

h1 {
  background-image: url(earthreader.png);
  background-repeat: no-repeat;
  background-size: 256px 256px;
  background-position: center 0;
  padding-top: 267px;
  text-align: center;
  font-weight: 600;
}

tt {
  color: black;
  background-color: #eee;
}
